.theme-btn{
    display:inline-flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transition:all 0.3s ease;
    @include title-font;
    .btn-title {
        position: relative;
        display: flex;
        align-items: center;
    }
}


/*Btn Style One*/
.btn-style-one {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 35px;
    font-weight: 600;
    overflow: hidden;
    z-index: 0;
    text-transform: uppercase;
    color: var(--theme-color-light);
    background: var(--theme-color1);
    &::after {
        position: absolute;
        left: 3px;
        bottom: 3px;
        border-right: 41px solid transparent;
        border-bottom: 41px solid var(--theme-color2);
        content: "";
        opacity: .2;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0%;
        height: 100%;
        width: 100%;
        content: "";
        z-index: -1;
        background: var(--theme-color2);
        transform: scale(0, 1);
        transform-origin: bottom right;
        transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    i{
        position: relative;
        top: 1px;
        display: block;
        margin-left: 10px;
        transform: rotate(45deg);
    }
    &:hover:before {
        transform-origin: top left;
        transform: scale(1, 1);
    }
    &:hover {
        color: #ffffff;
    }
}


/*Btn Style Two*/
.btn-style-two {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 35px;
    font-weight: 600;
    overflow: hidden;
    text-transform: uppercase;
    color: var(--theme-color-dark);
    background: var(--theme-color2);
    &::after{
        position: absolute;
        left: 3px;
        bottom: 3px;
        border-right: 41px solid transparent;
        border-bottom: 41px solid var(--theme-color1);
        content: "";
        opacity: .2;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0%;
        height: 100%;
        width: 100%;
        content: "";
        background: var(--theme-color1);
        transform: scale(0, 1);
        transform-origin: bottom right;
        transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    i{
        position: relative;
        top: 1px;
        display: block;
        margin-left: 10px;
        transform: rotate(45deg);
    }
    &:hover:before {
        transform-origin: top left;
        transform: scale(1, 1);
    }
    &:hover {
        color: #ffffff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    }
    &.light-bg{
        &:before{
            background-color: #ffffff;
        }
        &:hover{
            color: var(--theme-color1);
        }
    }
}



/*Btn Style Three*/
.btn-style-three {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 40px;
    font-weight: 500;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--theme-color-light);
    background: var(--theme-color1);
    &:before {
        position: absolute;
        left: 0;
        top: 0%;
        height: 100%;
        width: 100%;
        content: "";
        background: var(--theme-color-dark);
        transform: scale(0, 1);
        transform-origin: bottom right;
        transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    i{
        margin-left: 5px;
    }
    &:hover:before {
        transform-origin: top left;
        transform: scale(1, 1);
    }
    &:hover {
        color: #ffffff;
    }
}

.theme-btn.small{
    padding: 10px 40px;
    line-height: 20px;
    font-size: 12px;
}