/*** 

====================================================================
    Clients Section
====================================================================

***/

.clients-section{
    position: relative;
    z-index: 1;
    .outer-box{
        padding: 90px 0 0;
        border-top:1px solid #ebebeb;
    }
    .float-image {
        right: -370px;
        bottom: 95px;
    }

    .sec-title{
        h3{
            font-size: 30px;
        }
    }
}

.client-block{
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #f9f9f9;
    padding: 60px 20px;
    border-right: 1px solid #ebebeb;
    a {
        position: relative;
        display: block;
        transition: all 300ms ease;
        text-align: center;
        &:hover{
            img{
                opacity: 1;
            }
        }
    }
    img {
        display: inline-block !important;
        width: auto !important;
        transition: all 0.3s ease;
    }
}
