/***

====================================================================
    Marquee Section
====================================================================

***/

.marquee-section{
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid rgba(255,255,255,.20);
    // Style Two
    &.style-two{
      padding: 30px 0;
      border-bottom: 0;
      .marquee{
        background-color: var(--theme-color1);
        padding: 20px 0;
        .text{
          font-size: 20px;
          font-weight: 500;
          line-height: 26px;
          color: #fff;
          letter-spacing: .05em;
        }
      }
    }
    // Style Three
    &.style-three{
      padding: 0;
      border-bottom: 0;
      .marquee{
        background-color: #101010;
        padding: 45px 0;
        .text{
          font-size: 36px;
          font-weight: 500;
          line-height: 60px;
          color: #fff;
          letter-spacing: .05em;
          .sprtr{
            margin: 0 35px;
          }
        }
      }
    }
}

.marquee {
    position: relative;
    --duration: 30s;
    --gap: 0px;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  .marquee-group{
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: var(--gap);
      min-width: 100%;
      animation: scroll var(--duration) linear infinite;
  }
  .text{
    font-size: 24px;
    color: var(--theme-color-light);
    font-weight: 500;
    text-transform: uppercase;
    &.color1{color: var(--theme-color1);}
  }
  @media (prefers-reduced-motion: reduce) {
    .marquee-group {
      animation-play-state: play;
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}



