/*** 

====================================================================
    News Section
====================================================================

***/

.news-section{
    position: relative;
    padding: 120px 0 90px;
}

.news-block{
    position: relative;
    margin-bottom: 30px;
    .inner-box {
        position: relative;
        transition: all 300ms ease;
        &:hover{
            .image-box{
                .image {
                    a:after {
                        left: 0;
                        right: 0;
                        opacity: 0;
                        transition: all 400ms linear;
                    }
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .image-box {
        position: relative;
        .image {
            position: relative;
            overflow: hidden;
            margin-bottom: 0;
            img {
                display: block;
                width: 100%;
                transition: all 400ms ease;
            }
            a:after {
                background: rgba(255, 255, 255, .3);
                bottom: 0;
                content: "";
                left: 50%;
                position: absolute;
                right: 51%;
                top: 0;
                opacity: 1;
                pointer-events: none;
                transition: all 400ms linear;
            }
        }
    }
    .content-box{
        position: relative;
    }
    .info-box{
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-top: -40px;
        margin-bottom: 30px;
        .date{
            position: relative;
            width: 72px;
            height: 66px;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            font-weight: 500;
            background-color: var(--theme-color1);
            text-transform: uppercase;
            @include title-font;
            text-align: center;
            padding-top: 10px;
            transition: all 400ms ease;
            @include media-breakpoint-down(sm){
                width: 60px;
            }
            b{
                display: block;
                line-height: 1em;
                font-size: 30px;
                font-weight: 600;
                color: #fff;
            }
        }
        .post-info{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background-color: #fff;
            padding: 14px 20px;
            box-shadow: 0 10px 30px rgba(0,0,0, .1);
            li{
                position: relative;
                font-size: 14px;
                line-height: 30px;
                color: #7a7a7a;
                font-weight: 400;
                padding-right: 13px;
                margin-right: 13px;
                &:before{
                    position: absolute;
                    right: -2px;
                    top: 0;
                    line-height: 30px;
                    content: "-";
                }
                i{
                    font-size: 12px;
                    color: var(--theme-color1);
                    margin-right: 2px;
                }
                &:last-child{
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
    .title{
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 17px;
        &:hover{
            color: var(--theme-color1);
        }
    }
    .read-more{
        position: relative;
        display: inline-flex;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: var(--theme-color-dark);
        font-weight: 800;
        z-index: 2;
        transition: all 300ms ease;
        &:hover{
            color: var(--theme-color2);
        }
        &::before{
            position: absolute;
            left: 0;
            bottom: 0px;
            right: 20px;
            border-bottom: 1px solid var(--theme-color1);
            content: "";
        }
        i{
            font-size: 14px;
            margin-left: 10px;
            transform: rotate(-45deg);
        }
    }
}

/*** 

====================================================================
    News Section Two
====================================================================

***/

.news-section-two{
    position: relative;
    padding: 120px 0 80px;
    &:before{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        max-height: 580px;
        width: 100%;
        background-color: #f8f5f1;
        background-image: url(../images/icons/bg-shape4.png);
        background-position: right top;
        background-repeat: no-repeat;
        content: "";
    }
    .icon-plane-6{
        top: 110px;
        left: -270px;
    }
    .sec-title{
        margin-bottom: 80px;
    }
}

.news-block-two{
    position: relative;
    margin-bottom: 30px;
    .inner-box {
        position: relative;
        transition: all 300ms ease;
        &:hover{
            .image-box{
                .image {
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .content-box{
                background-color: #fff;
                box-shadow: 0 10px 60px rgba(0,0,0, .1);
                .post-info{
                    li{
                        color: var(--theme-color-dark);
                    }
                }
                .title{
                    color: var(--theme-color-dark);
                }
                .read-more{
                    opacity: 1;
                    top: -20px;
                    visibility: visible;
                }
            }
        }
    }
    .image-box {
        position: relative;
        .image {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 0;
            img {
                display: block;
                width: 100%;
                transition: all 400ms ease;
            }
            a:after {
                @include overlay;
                content: "";
                pointer-events: none;
                background: linear-gradient(to top, #000, transparent);
                opacity: .9;
                transition: all 400ms linear;
            }
        }
        .date{
            position: absolute;
            top: 20px;
            left: 25px;
            width: 64px;
            height: 70px;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            font-weight: 400;
            background-color: var(--theme-color1);
            text-transform: uppercase;
            @include title-font;
            text-align: center;
            border-radius: 10px;
            padding: 15px 10px;
            transition: all 400ms ease;
            b{
                display: block;
                line-height: 1em;
                font-size: 30px;
                font-weight: 600;
                color: #fff;
            }
        }
    }
    .content-box{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 30px 25px;
        border-radius:0 0 10px 10px;
        transition: all 300ms ease;
    }
    .info-box{
        position: relative;
        display: flex;
        margin-bottom: 2px;
        .post-info{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li{
                position: relative;
                font-size: 14px;
                line-height: 30px;
                color: #fff;
                font-weight: 400;
                margin-right: 15px;
                transition: all 300ms ease;
                &:before{
                    position: absolute;
                    right: -2px;
                    top: 0;
                    line-height: 30px;
                    content: "";
                }
                i{
                    font-size: 12px;
                    color: var(--theme-color3);
                    margin-right: 5px;
                }
                &:last-child{
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
    .title{
        font-weight: 600;
        line-height: 40px;
        color: #fff;
        margin-bottom: 0px;
        &:hover{
            color: var(--theme-color-dark);
        }
    }
    .read-more{
        position: absolute;
        right: 20px;
        top: -30px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        color: var(--theme-color-light);
        background-color: #ff9205;
        border-radius: 5px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: all 300ms ease;
        &:hover{
            background-color: var(--theme-color1);
        }
    }
}
